@import '../base/base';
@import '../base/breakpoints';

body {
	font-size: $regular-font;
	font-family: $font-family;
	background-color: #E6EFF6;
}

.text-lg {
	font-size: 2rem;
}

.opacity-50 {
	opacity: 50%;
}

.btn-primary {
	color: $white;
	background-color: $yellow;
	padding: 10px;
	border-color: $yellow;
	box-shadow: -1px 2px 16px -4px rgba(0,0,0,0.1);
	transition: all ease-in 0.2s;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active {
	background-color: darken($yellow, 10);
	box-shadow: none;
	border-color: darken($yellow, 10);
}

.btn-block {
	display: block;
	width: 100%;
}